*.txt
*.pyc
*.log
*.pth
*.png
*.jpg
*.npy
*.tfevents.*
*._*
.vscode*
.DS_Store

evaluation/GAO/dataset/test_old
evaluation/GAO/dataset/val_old
evaluation/GAO/results_html
evaluation/GAO/results

ACP/visualizations/inferred_blobs

evaluation/epic-roi/results
evaluation/epic-roi/benchmark_results

ACP/logs/GUN-71